<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Imagens</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<div class="container">

    <div class="sidebar">
        <h1>Pagina <span class="highlight">Galeria de Imagens</span></h1>

        <h3>Filtrar</h3>
        <a href="{% url 'lista_galeria' %}">Todas</a>

        {% for categoria in categorias %}
            <a href="{% url 'lista_galeria' %}?categoria={{ categoria.slug }}">
                {{ categoria.nome }}
            </a>
        {% endfor %}

        <hr>
        {% if dono %}
            <h3>Dono</h3>
            <p><strong>{{ dono.nome }}</strong></p>
            <p>{{ dono.email }}</p>

            {% if dono.telefone %}<p>{{ dono.telefone }}</p>{% endif %}
            {% if dono.instagram %}<p>{{ dono.instagram }}</p>{% endif %}
        {% endif %}
    </div>

    <div class="main">

        <div class="top-links">
            <a href="{% url 'adicionar_imagem' %}">+ Adicionar imagem</a>
            <a href="{% url 'editar_dono' %}">Editar dono</a>
        </div>

        <div class="galeria">
            {% if imagens %}
                {% for imagem in imagens %}
                    <div class="card">
                        {% if imagem.arquivo %}
                            <img src="{{ imagem.arquivo.url }}" alt="{{ imagem.titulo }}">
                        {% endif %}

                        <div class="card-content">
                            <h3>{{ imagem.titulo }}</h3>
                            <p>{{ imagem.categoria.nome }}</p>

                            {% if imagem.descricao %}
                                <p>{{ imagem.descricao }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Nenhuma imagem cadastrada.</p>
            {% endif %}
        </div>

    </div>
</div>
</body>
</html>