body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.pagina-adicionar{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-adicionar{
    width: 100%;
    max-width: 700px;
    border-radius: 12px;
    padding: 32px;
    box-shadow: 0 8px 25px rgba(0,0 , 0, 0.15);
    display: flex;
    flex-direction: column; 
    gap: 16px; 
}

.card-adicionar h1{
    margin: 0;
    text-align: center;
}

.form-adicionar{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    width: 100%;
}

.form-adicionar p {
    margin: 0;
}

.form-adicionar label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    text-align: center;
}

.form-adicionar input[type="text"],
.form-adicionar input[type="file"],
.form-adicionar textarea{
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    text-align: center;
}

.form-adicionar input,
.form-adicionar textarea,
.form-adicionar select {
    width: 100%;
    max-width: 100%;
}

.btn-salvar{
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 8px 14px;
    background-color: #0a1f44;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.78rem;
    cursor: pointer;
}

.btn-salvar:hover {
    opacity: 0.85;
}

.btn-voltar{
    text-align: center;
    text-decoration: none;
    font-size: 0.85rem;
    color: #0a1f44;
    margin-top: 8px;
}

.form-adicionar input[type="checkbox"]{
    width: auto;
}

.form-adicionar p:has(input[type="checkbox"]){
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 8px;
}
