body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa{
    background-color: #ffff;
    padding: 30px 40px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0px 8px 25px rgba(0,0 0,0.2);
    text-align: center;
}

h1{
    margin-bottom: 20px;
    color: #0a1f44;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

form p {
    display: flex;
    flex-direction: column;
    margin: 0;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background-color: #0a1f44;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #12306b;
}

.voltar{
    margin-top: 15px;
    display: block;
    text-align: center;
    color: #0a1f44;
    text-decoration: none;
}

.voltar:hover {
    text-decoration: underline;
}